@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados adicionales */
body {
    font-family: 'Inter', sans-serif;
}/* styles.scss o styles.css */
@layer components {
    .table-container {
        scrollbar-width: thin;
        scrollbar-color: #3b82f6 #f1f1f1;
    }

    .table-container::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    .table-container::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #3b82f6;
        border-radius: 10px;
    } }